<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>I</key>
  <dict>
    <key>public.kern2._punct_quote_3</key>
    <integer>-100</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>public.kern2._uc_A_2</key>
    <integer>-25</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>r</key>
    <integer>-40</integer>
    <key>z</key>
    <integer>-20</integer>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>i</key>
  <dict>
    <key>public.kern2._punct_quote_3</key>
    <integer>-10</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>public.kern2._lc_v_3</key>
    <integer>-10</integer>
    <key>public.kern2._lc_w_3</key>
    <integer>-5</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-20</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>uni0423</key>
  <dict>
    <key>public.kern2._uc_uni0427_2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1._lc_o_1</key>
  <dict>
    <key>public.kern2._lc_t_3</key>
    <integer>-30</integer>
    <key>public.kern2._lc_v_3</key>
    <integer>-10</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._lc_r_1</key>
  <dict>
    <key>z</key>
    <integer>-20</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1._lc_t_3</key>
  <dict>
    <key>public.kern2._lc_t_3</key>
    <integer>-20</integer>
    <key>public.kern2._lc_v_3</key>
    <integer>10</integer>
    <key>public.kern2._lc_w_3</key>
    <integer>15</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1._lc_v_3</key>
  <dict>
    <key>l</key>
    <integer>-10</integer>
    <key>z</key>
    <integer>-20</integer>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._lc_w_3</key>
  <dict>
    <key>l</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1._lc_y_3</key>
  <dict>
    <key>l</key>
    <integer>-20</integer>
    <key>z</key>
    <integer>-20</integer>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._punct_backslash_3</key>
  <dict>
    <key>public.kern2._lc_t_3</key>
    <integer>-60</integer>
    <key>public.kern2._lc_v_3</key>
    <integer>-40</integer>
    <key>public.kern2._lc_w_3</key>
    <integer>-40</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-40</integer>
    <key>public.kern2._punct_backslash_3</key>
    <integer>-85</integer>
    <key>public.kern2._punct_quote_3</key>
    <integer>-280</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-125</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1._punct_base_3</key>
  <dict>
    <key>public.kern2._punct_backslash_3</key>
    <integer>-250</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-250</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-250</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-250</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1._punct_dash_3</key>
  <dict>
    <key>public.kern2._punct_backslash_3</key>
    <integer>-220</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-330</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-220</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-220</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-220</integer>
  </dict>
  <key>public.kern1._punct_quote_3</key>
  <dict>
    <key>public.kern2._lc_o_2</key>
    <integer>-100</integer>
    <key>public.kern2._punct_backslash_3</key>
    <integer>30</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-280</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-280</integer>
    <key>public.kern2._uc_S_3</key>
    <integer>-100</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>30</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>30</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1._punct_slash_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1._uc_A_1</key>
  <dict>
    <key>public.kern2._lc_uni0442_2</key>
    <integer>-50</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-70</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-55</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-75</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-10</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-90</integer>
    <key>public.kern2._uc_uni0427_2</key>
    <integer>-125</integer>
  </dict>
  <key>public.kern1._uc_B_1</key>
  <dict>
    <key>public.kern2._uc_Y_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_D_1</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-100</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-60</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-40</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-40</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-40</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-10</integer>
    <key>public.kern2._uc_X_2</key>
    <integer>-40</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-70</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1._uc_E_1</key>
  <dict>
    <key>public.kern2._lc_uni0442_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_F_1</key>
  <dict>
    <key>public.kern2._uc_A_2</key>
    <integer>-180</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-160</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_KX_1</key>
  <dict>
    <key>public.kern2._lc_uni0442_2</key>
    <integer>-130</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-100</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-10</integer>
    <key>public.kern2._uc_uni0427_2</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1._uc_L_1</key>
  <dict>
    <key>public.kern2._uc_A_2</key>
    <integer>10</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-80</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-45</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-35</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1._uc_O_1</key>
  <dict>
    <key>public.kern2._lc_uni043B_3</key>
    <integer>-40</integer>
    <key>public.kern2._uc_uni0423_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_P_1</key>
  <dict>
    <key>uni044F</key>
    <integer>-10</integer>
    <key>public.kern2._lc_o_2</key>
    <integer>-20</integer>
    <key>public.kern2._lc_uni0442_2</key>
    <integer>20</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-150</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-20</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-20</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_R_1</key>
  <dict>
    <key>public.kern2._uc_O_2</key>
    <integer>-5</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-10</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-10</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1._uc_T_1</key>
  <dict>
    <key>uni0432</key>
    <integer>-160</integer>
    <key>uni0438</key>
    <integer>-150</integer>
    <key>uni0440</key>
    <integer>-100</integer>
    <key>uni044B</key>
    <integer>-150</integer>
    <key>uni044F</key>
    <integer>-160</integer>
    <key>public.kern2._lc_o_2</key>
    <integer>-150</integer>
    <key>public.kern2._lc_uni043B_3</key>
    <integer>-150</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-40</integer>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-330</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-125</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-55</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-110</integer>
  </dict>
  <key>public.kern1._uc_V_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-75</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-30</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_W_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-10</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1._uc_Y_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-90</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-120</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_uni0413_1</key>
  <dict>
    <key>uni043D</key>
    <integer>-150</integer>
    <key>uni0440</key>
    <integer>-130</integer>
    <key>public.kern2._lc_o_2</key>
    <integer>-100</integer>
    <key>public.kern2._lc_uni043B_3</key>
    <integer>-200</integer>
    <key>public.kern2._lc_uni0442_2</key>
    <integer>-100</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-50</integer>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-330</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-125</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-125</integer>
  </dict>
  <key>public.kern1._uc_uni0426_1</key>
  <dict>
    <key>uni042F</key>
    <integer>-20</integer>
    <key>public.kern2._lc_uni043B_3</key>
    <integer>10</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>30</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1._uc_uni042C_1</key>
  <dict>
    <key>public.kern2._uc_T_2</key>
    <integer>-120</integer>
    <key>public.kern2._uc_uni0427_2</key>
    <integer>-30</integer>
  </dict>
</dict>
</plist>
