<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>seven</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.punct_backslash_3</key>
  <dict>
    <key>public.kern2.lc_t_3</key>
    <integer>-60</integer>
    <key>public.kern2.lc_v_3</key>
    <integer>-40</integer>
    <key>public.kern2.lc_w_3</key>
    <integer>-40</integer>
    <key>public.kern2.lc_y_3</key>
    <integer>-40</integer>
    <key>public.kern2.punct_backslash_3</key>
    <integer>-85</integer>
    <key>public.kern2.punct_quote_3</key>
    <integer>-280</integer>
    <key>public.kern2.uc_T_2</key>
    <integer>-125</integer>
    <key>public.kern2.uc_V_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_W_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_Y_3</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.punct_base_3</key>
  <dict>
    <key>public.kern2.punct_backslash_3</key>
    <integer>-250</integer>
    <key>public.kern2.uc_T_2</key>
    <integer>-250</integer>
    <key>public.kern2.uc_V_3</key>
    <integer>-250</integer>
    <key>public.kern2.uc_W_3</key>
    <integer>-250</integer>
    <key>public.kern2.uc_Y_3</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.punct_dash_3</key>
  <dict>
    <key>public.kern2.punct_backslash_3</key>
    <integer>-220</integer>
    <key>public.kern2.uc_T_2</key>
    <integer>-330</integer>
    <key>public.kern2.uc_V_3</key>
    <integer>-220</integer>
    <key>public.kern2.uc_W_3</key>
    <integer>-220</integer>
    <key>public.kern2.uc_Y_3</key>
    <integer>-220</integer>
  </dict>
  <key>public.kern1.punct_quote_3</key>
  <dict>
    <key>public.kern2.punct_backslash_3</key>
    <integer>30</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-280</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-280</integer>
    <key>public.kern2.uc_V_3</key>
    <integer>30</integer>
    <key>public.kern2.uc_W_3</key>
    <integer>30</integer>
    <key>public.kern2.uc_Y_3</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1.punct_slash_3</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.uc_D_1</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-60</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.uc_L_1</key>
  <dict>
    <key>public.kern2.uc_T_2</key>
    <integer>-170</integer>
  </dict>
  <key>public.kern1.uc_P_1</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-150</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.uc_T_1</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-330</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-125</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-125</integer>
  </dict>
  <key>public.kern1.uc_V_3</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.uc_W_3</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.uc_Y_3</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.uc_uni0413_1</key>
  <dict>
    <key>public.kern2.punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2.punct_dash_3</key>
    <integer>-330</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-125</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-125</integer>
  </dict>
</dict>
</plist>
