<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>J</key>
  <dict>
    <key>public.kern2._uc_A_2</key>
    <integer>-10</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>public.kern2._lc_j_3</key>
    <integer>210</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1._lc_o_1</key>
  <dict>
    <key>public.kern2._lc_t_3</key>
    <integer>-30</integer>
    <key>public.kern2._lc_v_3</key>
    <integer>-10</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._lc_v_3</key>
  <dict>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._lc_w_3</key>
  <dict>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._lc_y_3</key>
  <dict>
    <key>public.kern2._lc_o_2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._punct_backslash_3</key>
  <dict>
    <key>public.kern2._lc_t_3</key>
    <integer>-60</integer>
    <key>public.kern2._lc_v_3</key>
    <integer>-40</integer>
    <key>public.kern2._lc_w_3</key>
    <integer>-40</integer>
    <key>public.kern2._lc_y_3</key>
    <integer>-40</integer>
    <key>public.kern2._punct_backslash_3</key>
    <integer>-85</integer>
    <key>public.kern2._punct_quote_3</key>
    <integer>-280</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-125</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1._punct_base_3</key>
  <dict>
    <key>public.kern2._punct_backslash_3</key>
    <integer>-250</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-250</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-250</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-250</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1._punct_dash_3</key>
  <dict>
    <key>public.kern2._punct_backslash_3</key>
    <integer>-220</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-330</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-220</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-220</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-220</integer>
  </dict>
  <key>public.kern1._punct_quote_3</key>
  <dict>
    <key>public.kern2._punct_backslash_3</key>
    <integer>30</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-280</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-280</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>30</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>30</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1._punct_slash_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1._uc_A_1</key>
  <dict>
    <key>public.kern2._uc_T_2</key>
    <integer>-105</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-145</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-105</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-180</integer>
  </dict>
  <key>public.kern1._uc_B_1</key>
  <dict>
    <key>public.kern2._uc_X_2</key>
    <integer>-10</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_D_1</key>
  <dict>
    <key>public.kern2._punct_slash_3</key>
    <integer>-60</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-60</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-40</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-50</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-20</integer>
    <key>public.kern2._uc_X_2</key>
    <integer>-40</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-90</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1._uc_F_1</key>
  <dict>
    <key>public.kern2._uc_A_2</key>
    <integer>-180</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-200</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1._uc_KX_1</key>
  <dict>
    <key>public.kern2._uc_T_2</key>
    <integer>-20</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_L_1</key>
  <dict>
    <key>public.kern2._uc_A_2</key>
    <integer>10</integer>
    <key>public.kern2._uc_T_2</key>
    <integer>-120</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-95</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1._uc_P_1</key>
  <dict>
    <key>public.kern2._punct_slash_3</key>
    <integer>-150</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-40</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1._uc_R_1</key>
  <dict>
    <key>public.kern2._uc_T_2</key>
    <integer>-10</integer>
    <key>public.kern2._uc_V_3</key>
    <integer>-20</integer>
    <key>public.kern2._uc_W_3</key>
    <integer>-15</integer>
    <key>public.kern2._uc_Y_3</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1._uc_T_1</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-330</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-125</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-105</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-110</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1._uc_V_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-145</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-100</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._uc_W_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-105</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-80</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._uc_Y_3</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-220</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-85</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-170</integer>
    <key>public.kern2._uc_J_2</key>
    <integer>-120</integer>
    <key>public.kern2._uc_Z_3</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1._uc_uni0413_1</key>
  <dict>
    <key>public.kern2._punct_base_3</key>
    <integer>-250</integer>
    <key>public.kern2._punct_dash_3</key>
    <integer>-330</integer>
    <key>public.kern2._punct_slash_3</key>
    <integer>-125</integer>
    <key>public.kern2._uc_A_2</key>
    <integer>-125</integer>
  </dict>
</dict>
</plist>
