<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>705</real>
      <key>name</key>
      <string>m</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-428</real>
      <key>name</key>
      <string>descender_g</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-438</real>
      <key>name</key>
      <string>descender_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-150</real>
      <key>name</key>
      <string>diac_LC_bottom</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-160</real>
      <key>name</key>
      <string>diac_LC_bottom_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1150</real>
      <key>name</key>
      <string>diac_LC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1160</real>
      <key>name</key>
      <string>diac_LC_top_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-164</real>
      <key>name</key>
      <string>diac_SC_bottom_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1350</real>
      <key>name</key>
      <string>diac_SC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1364</real>
      <key>name</key>
      <string>diac_SC_top_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-150</real>
      <key>name</key>
      <string>diac_UC_bottom</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-164</real>
      <key>name</key>
      <string>diac_UC_bottom_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1550</real>
      <key>name</key>
      <string>diac_UC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1564</real>
      <key>name</key>
      <string>diac_UC_top_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>500</real>
      <key>name</key>
      <string>half_LC</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>600</real>
      <key>name</key>
      <string>half_SC</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>700</real>
      <key>name</key>
      <string>half_UC</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1000</real>
      <key>name</key>
      <string>height_LC</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1200</real>
      <key>name</key>
      <string>height_SC</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1400</real>
      <key>name</key>
      <string>height_UC</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-10</real>
      <key>name</key>
      <string>over_LC_botton</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-438</real>
      <key>name</key>
      <string>over_LC_desc</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1200</real>
      <key>name</key>
      <string>average_h</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1010</real>
      <key>name</key>
      <string>over_LC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-14</real>
      <key>name</key>
      <string>over_SC_bottom</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-442</real>
      <key>name</key>
      <string>over_SC_desc</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1214</real>
      <key>name</key>
      <string>over_SC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-14</real>
      <key>name</key>
      <string>over_UC_bottom</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-442</real>
      <key>name</key>
      <string>over_UC_desc</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1414</real>
      <key>name</key>
      <string>over_UC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>224</real>
      <key>name</key>
      <string>stem_LC_bottom</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>214</real>
      <key>name</key>
      <string>stem_LC_bottom_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>776</real>
      <key>name</key>
      <string>stem_LC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>786</real>
      <key>name</key>
      <string>stem_LC_top_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>244</real>
      <key>name</key>
      <string>stem_UC_bottom</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>230</real>
      <key>name</key>
      <string>stem_UC_bottom_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1156</real>
      <key>name</key>
      <string>stem_UC_top</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1170</real>
      <key>name</key>
      <string>stem_UC_top_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1458</real>
      <key>name</key>
      <string>ascender_os</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>600</real>
      <key>name</key>
      <string>average_half</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>base_g</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>uni00A0</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a.smcp</string>
    <string>b.smcp</string>
    <string>c.smcp</string>
    <string>d.smcp</string>
    <string>e.smcp</string>
    <string>f.smcp</string>
    <string>g.smcp</string>
    <string>h.smcp</string>
    <string>i.smcp</string>
    <string>j.smcp</string>
    <string>k.smcp</string>
    <string>l.smcp</string>
    <string>m.smcp</string>
    <string>n.smcp</string>
    <string>o.smcp</string>
    <string>p.smcp</string>
    <string>q.smcp</string>
    <string>r.smcp</string>
    <string>s.smcp</string>
    <string>t.smcp</string>
    <string>u.smcp</string>
    <string>v.smcp</string>
    <string>w.smcp</string>
    <string>x.smcp</string>
    <string>y.smcp</string>
    <string>z.smcp</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>dotlessi</string>
    <string>i</string>
    <string>uni0237</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>ampersand</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>question</string>
    <string>questiondown</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>parenleft.case</string>
    <string>parenright.case</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>bracketleft.case</string>
    <string>bracketright.case</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>braceleft.case</string>
    <string>braceright.case</string>
    <string>slash</string>
    <string>backslash</string>
    <string>slash.case</string>
    <string>backslash.case</string>
    <string>fraction</string>
    <string>hyphen</string>
    <string>uni2010</string>
    <string>endash</string>
    <string>emdash</string>
    <string>hyphen.case</string>
    <string>endash.case</string>
    <string>emdash.case</string>
    <string>periodcentered</string>
    <string>bullet</string>
    <string>uni2219</string>
    <string>periodcentered.case</string>
    <string>bullet.case</string>
    <string>period</string>
    <string>ellipsis</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>uni2032</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft.case</string>
    <string>guilsinglright.case</string>
    <string>guillemotleft.case</string>
    <string>guillemotright.case</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>acutecomb.case</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>gravecomb.case</string>
    <string>asciicircum</string>
    <string>circumflex</string>
    <string>uni0302</string>
    <string>uni0302.case</string>
    <string>tildecomb</string>
    <string>dieresis</string>
    <string>uni0308</string>
    <string>uni0308.case</string>
    <string>macron</string>
    <string>uni0304</string>
    <string>uni0304.case</string>
    <string>ring</string>
    <string>uni030A</string>
    <string>uni030A.case</string>
    <string>breve</string>
    <string>uni0306</string>
    <string>uni0306.case</string>
    <string>dotaccent</string>
    <string>uni0307</string>
    <string>uni0307.case</string>
    <string>uni02C7</string>
    <string>hungarumlaut</string>
    <string>uni030B</string>
    <string>uni030B.case</string>
    <string>uni030C</string>
    <string>uni030C.case</string>
    <string>uni0324</string>
    <string>uni0324.case</string>
    <string>uni0326</string>
    <string>dollar</string>
    <string>Euro</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>colonmonetary</string>
    <string>franc</string>
    <string>lira</string>
    <string>uni20A6</string>
    <string>peseta</string>
    <string>uni20A9</string>
    <string>uni20AB</string>
    <string>uni20AD</string>
    <string>uni20B1</string>
    <string>uni20B2</string>
    <string>uni20B5</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
    <string>uni20BC</string>
    <string>uni20BD</string>
    <string>uni20AE</string>
    <string>uni20B4</string>
    <string>uni20B8</string>
    <string>section</string>
    <string>paragraph</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>uniFFFD</string>
    <string>copyright</string>
    <string>registered</string>
    <string>trademark</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>equal</string>
    <string>logicalnot</string>
    <string>plus</string>
    <string>uni2212</string>
    <string>multiply</string>
    <string>divide</string>
    <string>uni2002</string>
    <string>uni200B</string>
    <string>uni2009</string>
    <string>uniFEFF</string>
    <string>AE</string>
    <string>OE</string>
    <string>Eth</string>
    <string>Thorn</string>
    <string>uni018F</string>
    <string>ae</string>
    <string>oe</string>
    <string>eth</string>
    <string>thorn</string>
    <string>uni0259</string>
    <string>Aring</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Iacute</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>aring</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>udieresis</string>
    <string>ydieresis</string>
    <string>Ccaron</string>
    <string>Dcroat</string>
    <string>Gdotaccent</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Imacron</string>
    <string>Jcircumflex</string>
    <string>Lacute</string>
    <string>Omacron</string>
    <string>Ohungarumlaut</string>
    <string>Racute</string>
    <string>uni0156</string>
    <string>Rcaron</string>
    <string>Uring</string>
    <string>cdotaccent</string>
    <string>ccaron</string>
    <string>ebreve</string>
    <string>edotaccent</string>
    <string>gdotaccent</string>
    <string>uni0125</string>
    <string>hbar</string>
    <string>imacron</string>
    <string>jcircumflex</string>
    <string>lcommaaccent</string>
    <string>nacute</string>
    <string>ncommaaccent</string>
    <string>omacron</string>
    <string>obreve</string>
    <string>ohungarumlaut</string>
    <string>racute</string>
    <string>uni0157</string>
    <string>rcaron</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>umacron</string>
    <string>wcircumflex</string>
    <string>zdotaccent</string>
    <string>uni2190</string>
    <string>uni2191</string>
    <string>uni2192</string>
    <string>uni2193</string>
    <string>uni25A0</string>
    <string>uni25A1</string>
    <string>uni25B2</string>
    <string>uni25B3</string>
    <string>uni25B6</string>
    <string>uni25B7</string>
    <string>uni25BC</string>
    <string>uni25BD</string>
    <string>uni25C0</string>
    <string>uni25C1</string>
    <string>uni25C6</string>
    <string>uni25C7</string>
    <string>zero.zero</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045D</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0462</string>
    <string>uni046A</string>
    <string>uni0472</string>
    <string>uni0474</string>
    <string>uni0490</string>
    <string>uni0492</string>
    <string>uni0494</string>
    <string>uni0496</string>
    <string>uni049A</string>
    <string>uni04A0</string>
    <string>uni04A4</string>
    <string>uni04AE</string>
    <string>uni04B0</string>
    <string>uni04B2</string>
    <string>uni04B6</string>
    <string>uni04BA</string>
    <string>uni04C0</string>
    <string>uni04C1</string>
    <string>uni04B8</string>
    <string>uni04CB</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
    <string>uni04D4</string>
    <string>uni04D6</string>
    <string>uni04DC</string>
    <string>uni04DE</string>
    <string>uni04E2</string>
    <string>uni04E4</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F2</string>
    <string>uni04F4</string>
    <string>uni04F6</string>
    <string>uni04F8</string>
    <string>uni051C</string>
    <string>uni051A</string>
    <string>uni0463</string>
    <string>uni046B</string>
    <string>uni0473</string>
    <string>uni0475</string>
    <string>uni0491</string>
    <string>uni0493</string>
    <string>uni0495</string>
    <string>uni0497</string>
    <string>uni049B</string>
    <string>uni04A1</string>
    <string>uni04A3</string>
    <string>uni04A5</string>
    <string>uni04B3</string>
    <string>uni04B7</string>
    <string>uni04B9</string>
    <string>uni04BB</string>
    <string>uni04CF</string>
    <string>uni04C2</string>
    <string>uni04CC</string>
    <string>uni04D1</string>
    <string>uni04D3</string>
    <string>uni04D5</string>
    <string>uni04D7</string>
    <string>uni04D8</string>
    <string>uni04D9</string>
    <string>uni04DD</string>
    <string>uni04DF</string>
    <string>uni051B</string>
    <string>uni04E3</string>
    <string>uni04E5</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni04EF</string>
    <string>uni04F1</string>
    <string>uni04F3</string>
    <string>uni04F5</string>
    <string>uni04F7</string>
    <string>uni04F9</string>
    <string>uni051D</string>
    <string>uni0306.cyr</string>
    <string>uni0430.smcp</string>
    <string>uni0431.smcp</string>
    <string>uni0432.smcp</string>
    <string>uni0433.smcp</string>
    <string>uni0434.smcp</string>
    <string>uni0435.smcp</string>
    <string>uni0436.smcp</string>
    <string>uni0437.smcp</string>
    <string>uni0438.smcp</string>
    <string>uni043A.smcp</string>
    <string>uni043B.smcp</string>
    <string>uni043C.smcp</string>
    <string>uni043D.smcp</string>
    <string>uni043E.smcp</string>
    <string>uni043F.smcp</string>
    <string>uni0440.smcp</string>
    <string>uni0441.smcp</string>
    <string>uni0442.smcp</string>
    <string>uni0443.smcp</string>
    <string>uni0445.smcp</string>
    <string>uni0446.smcp</string>
    <string>uni0447.smcp</string>
    <string>uni0448.smcp</string>
    <string>uni0449.smcp</string>
    <string>uni044A.smcp</string>
    <string>uni044B.smcp</string>
    <string>uni044C.smcp</string>
    <string>uni044D.smcp</string>
    <string>uni044E.smcp</string>
    <string>uni044F.smcp</string>
    <string>uni0452.smcp</string>
    <string>uni0454.smcp</string>
    <string>uni0455.smcp</string>
    <string>uni0456.smcp</string>
    <string>uni0458.smcp</string>
    <string>uni0459.smcp</string>
    <string>uni045A.smcp</string>
    <string>uni045B.smcp</string>
    <string>uni045F.smcp</string>
    <string>uni051B.smcp</string>
    <string>uni051D.smcp</string>
    <string>currency-crossbar</string>
    <string>currency-double-bar</string>
    <string>eng</string>
    <string>guilsinglleft.1</string>
    <string>guilsinglleft.2</string>
    <string>i.1</string>
    <string>ij-dot</string>
    <string>lira-sterling-body</string>
    <string>twenty-degree-2-bar</string>
    <string>uni000A</string>
    <string>plusminus</string>
    <string>uni1E9E</string>
  </array>
</dict>
</plist>
