<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Lcaron</key>
  <dict>
    <key>public.kern2.uc_T_2</key>
    <integer>-170</integer>
  </dict>
  <key>Ldot</key>
  <dict>
    <key>public.kern2.uc_T_2</key>
    <integer>-170</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-120</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-120</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-20</integer>
  </dict>
  <key>uni20BD</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-120</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.punct_backslash_3</key>
  <dict>
    <key>public.kern2.lc_t_3</key>
    <integer>-50</integer>
    <key>public.kern2.punct_backslash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_T_2</key>
    <integer>-80</integer>
    <key>public.kern2.uc_V_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_W_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_Y_3</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.punct_quote_3</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-120</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.punct_slash_3</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uc_A_1</key>
  <dict>
    <key>public.kern2.lc_t_3</key>
    <integer>-50</integer>
    <key>public.kern2.punct_backslash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_T_2</key>
    <integer>-80</integer>
    <key>public.kern2.uc_V_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_W_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_Y_3</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uc_D_1</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-60</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.uc_F_1</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-100</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.uc_L_1</key>
  <dict>
    <key>public.kern2.uc_T_2</key>
    <integer>-170</integer>
  </dict>
  <key>public.kern1.uc_P_1</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-120</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.uc_T_1</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-80</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.uc_V_3</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uc_W_3</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uc_Y_3</key>
  <dict>
    <key>public.kern2.punct_slash_3</key>
    <integer>-20</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uc_uni0413_1</key>
  <dict>
    <key>AE</key>
    <integer>-80</integer>
    <key>AEacute</key>
    <integer>-80</integer>
    <key>uni0409</key>
    <integer>-80</integer>
    <key>uni04D4</key>
    <integer>-80</integer>
    <key>public.kern2.punct_slash_3</key>
    <integer>-80</integer>
    <key>public.kern2.uc_A_2</key>
    <integer>-100</integer>
  </dict>
</dict>
</plist>
